header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  // flex: 1;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
